[Unit]
Description=DHCP Sprout Web Interface
Require=postgresql-9.5.service

[Service]
User=ds
Group=ds
Type=simple
ExecStart=/opt/ds/venv/bin/ds-web-server -c /opt/ds/config.ini
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
