{% macro form_field(field) -%}
    <label>
        <span>{{ field.label }}</span>
        {{ field(**kwargs) }}
    </label>
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
{%- endmacro %}
